@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4338ca;
}

body {
  overflow-x: hidden;
  /* background: #f7f7f7;
  min-height: 100vh; */
}

/* tailwind css container class customize */
.container {
  @apply max-w-full 3xl:max-w-[1600px];
}

.auth_container {
  @apply max-w-[500px] mx-auto;
}

/* vertically and horizontally center class */
.center {
  @apply flex items-center justify-center;
}

/* list items hover effect */
.list_items > li {
  position: relative;
  transition: 0.4s;
  line-height: 36px;
}
.list_items > li:hover {
  color: var(--primary);
  cursor: pointer;
}
.list_items > li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background: var(--primary);
  top: 100%;
  left: 0;
  transition: 0.4s;
}
.list_items > li:hover::before {
  width: 100%;
  transform: translateX(1);
}
